body {
    background-color: rgba(71, 71, 112);
	margin: 1vh 1vw;
    margin-bottom: 0;
}

header {
    background-color: whitesmoke;
    height: 4vh;
    transform: skew(10deg);
}

header a {
	text-decoration-line: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgb(90, 90, 90);
}

h1 {
    text-align: center;
    color: whitesmoke;
    margin-top: 20vh;
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

main {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

p {
    text-align: center;
    color: whitesmoke;
    font-size: 1.5vw;
}

nav > ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.homeLink {
    margin-right: auto;
}

nav > ul > li {
    transform: skew(-10deg);
}

.boxBox {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: auto;
}

.bottomBox {
    display: flex;
    width: 30vw;
    height: 25vh;
    background-color: whitesmoke;
    transform: skew(10deg);
    transition: 1s;
}

.bottomBox:hover {
    height: 32;
}

.bottomBox > p {
    margin-right: auto;
    color: black;
    transform: skew(-10deg);
    font-family: Arial, Helvetica, sans-serif;
}

.boxBox > a {
    text-decoration-line: none;
}

.circle {
    height: 8vh;
    width: 8vh;
    border: 4px solid black;
    border-radius: 50%;
    transform: skew(-10deg);
    align-self: center;
    align-content: center;
    margin-right: 2vw;
}

.arrow {
    border: solid black;
    border-width: 0 .2vw .2vw 0;
    transform: rotate(-45deg);
    padding: 3px;
    width: 1vw;
    height: 1vw;
    margin-left: auto;
    margin-right: auto;
}